<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.io Chat</title>
  </head>
  <body>
    <div id="message-container"></div>
    <div id="group-message-container"></div>

    <input
      type="text"
      id="message-input"
      placeholder="Type your message here"
    />
    <button onclick="sendMessage()">Send Message</button>

    <!-- Include Socket.io Client Script -->
    <script src="/socket.io/socket.io.js"></script>

    <script>
      // Establish a connection to the server
      const socket = io();

      // Check if the connection was successful
      socket.on("connect", () => {
        console.log("Connected to server. Socket ID:", socket.id);
      });

      // Handle disconnection
      socket.on("disconnect", () => {
        console.log("Disconnected from server");
      });

      // Listen for the "receiveMessage" event
      socket.on("receiveMessage", (message) => {
        console.log("New message received:", message);
        const messageContainer = document.getElementById("message-container");
        const newMessageElement = document.createElement("div");
        newMessageElement.innerText = `${message.sender}: ${message.text}`;
        messageContainer.appendChild(newMessageElement);
      });

      // Listen for the "receiveGroupMessage" event
      socket.on("receiveGroupMessage", (groupMessage) => {
        console.log("New group message received:", groupMessage);
        const groupMessageContainer = document.getElementById(
          "group-message-container"
        );
        const newGroupMessageElement = document.createElement("div");
        newGroupMessageElement.innerText = `${groupMessage.sender}: ${groupMessage.text}`;
        groupMessageContainer.appendChild(newGroupMessageElement);
      });

      // Example: Sending a message to the server
      function sendMessage() {
        const message = document.getElementById("message-input").value;
        const receiverId = "66cebb4f8779177a16758131"; // Replace with the actual receiver ID
        const senderId = "66cecb877f03df8de0f404a8"; // Replace with your actual sender ID

        socket.emit("sendMessage", {
          senderId: senderId,
          receiverId: receiverId,
          text: message,
        });

        console.log("Message sent:", message);
      }
    </script>
  </body>
</html>
